@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0,0,0;
  --background-start-rgb: 54,124,43;
  --background-end-rgb: 255,222,0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0,0,0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    height: 850px;
    background: rgb(54,124,43);
    background: linear-gradient(0deg, rgba(54,124,43,1) 24%, rgba(255,222,0,1) 100%);
    /* rgb(var(--background-start-rgb)); */
}
